@using MVCForum.Website.Application
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}
<style>
    body {
        font-family: Tahoma;
        /*background-image: url('../../Themes/Metro/Content/Images/frame-halves-fruit-vegetables-white-background-31464578.jpg');
        background-size:contain;*/
    }

</style>
    

@section side
{
    @Html.Partial("_CommonSideNav")
}

@* ### Remove ME - Not needed, just for our forum ### *@
@Html.Partial("_DocumentationBlock")
@* ### Remove ME - Not needed, just for our forum ### *@


<div id="topics">
    
@Html.Action("LatestTopics", "Topic")
    </div>
@*
    If you want to show categories on the home page instead of topics
    Just uncomment this action out and delete this text (And comment out the above action)
    @Html.Action("ListMainCategories", "Category")
*@

