@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Lang("PostedIn.PageTitle");
}

@section side
{
    @Html.Partial("_CommonSideNav")
}
<style>
    body {
        background-image: url('../../Themes/Metro/Content/Images/frame-halves-fruit-vegetables-white-background-31464578.jpg');
        font-family: Cambria;
    }
</style>

<div class="postedin">

    <h1>@ViewBag.Title</h1>

    @Html.Action("TopicsMemberHasPostedIn", "Topic")

</div>