@using MVCForum.Website.Application
@using MVCForum.Website.ViewModels
@model ActiveTopicsViewModel
@{
    Layout = null;
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));
}
<style>
    h2 {
        color:darkolivegreen;
        font-size:48px;
        text-decoration:underline;        
        text-align:center;

           }
    #Register { text-align:center;
         color:orangered;
    }

</style>

<div class="latesttopics">

    <div class="mainheading clearfix">
        <div class="widgetright hidden-xs">
       
        </div>
        <h2>@Html.LanguageString("Discussion Board")</h2>
        
@if (!User.Identity.IsAuthenticated)
{
        <h4 id="Register">Register at top of page in order to post.</h4>
}
        
    </div>

    @Html.Action("CreateTopicButton", "Topic")

    @foreach (var topic in Model.Topics)
    {
        Html.RenderPartial("_Topic", topic);
    }

    @if (Model.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null, "Index", "Home")
    }

</div>