@model MVCForum.Website.ViewModels.AllBadgesViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.LanguageString("Plant Index");
}

<div>


    @section side
{
        @Html.Partial("_CommonSideNav")
    }
    <h1>Plant Index</h1>


    <ul class="nav navbar-nav">
        <li><a href="#a">A</a></li>
        <li><a href="#b">B</a></li>
        <li><a href="#c">C</a></li>
        <li><a href="#d">D</a></li>
        <li><a href="#e">E</a></li>
        <li><a href="#f">F</a></li>
        <li><a href="#g">G</a></li>
        <li><a href="#h">H</a></li>
        <li><a href="#i">I</a></li>
        <li><a href="#j">J</a></li>
        <li><a href="#k">K</a></li>
        <li><a href="#l">L</a></li>
        <li><a href="#m">M</a></li>
        <li><a href="#n">N</a></li>
        <li><a href="#o">O</a></li>
        <li><a href="#p">P</a></li>
        <li><a href="#q">Q</a></li>
        <li><a href="#r">R</a></li>
        <li><a href="#s">S</a></li>
        <li><a href="#t">T</a></li>
        <li><a href="#u">U</a></li>
        <li><a href="#v">V</a></li>
        <li><a href="#w">W</a></li>
        <li><a href="#x">X</a></li>
        <li><a href="#y">Y</a></li>
        <li><a href="#z">Z</a></li>
    </ul>
    <br /><br /><br />

    <section id=""></section>
    <ul>
        <li><a href=""></a></li>
    </ul>

    <section id="a">A</section>
    <ul>
        <li><a href="https://www.facebook.com/photo.php?fbid=10109237673924325&set=gm.1860521354216775&type=3&theater">Apple</a></li>
        <li><a href="">Asparagus</a></li>
    </ul>

    <section id="b">B</section>
    <ul>
        <li><a href="">Beans(Lima)</a></li>
        <li><a href="">Beans (Snap)</a></li>
        <li><a href="">Beets</a></li>
        <li><a href="">Blackberries</a></li>
        <li><a href="">Blueberries</a></li>
        <li><a href="">Broccoli</a></li>
    </ul>
    <section id="c">C</section>
    <ul>
        <li><a href="">Cabbage</a></li>
        <li><a href="">Cantaloupe</a></li>
        <li><a href="">Carrots</a></li>
        <li><a href="">Cauliflower</a></li>
        <li><a href="">Cilantro</a></li>
        <li><a href="">Collards</a></li>
        <li><a href="">Corn (Sweet)</a></li>
        <li><a href="">Cucumbers</a></li>
        <li><a href="">Currants</a></li>
    </ul>

    <section id="d">D</section>
    <ul>
        <li><a href="">Dill (Dry)</a></li>
        <li><a href="">Dill (Seed)</a></li>
    </ul>

    <section id="e">E</section>
    <ul>
        <li><a href="">Eggplant</a></li>
        <li><a href="">Endive and Escarole</a></li>
    </ul>

    <section id="f">F</section>
    <section id="g">G</section>
    <ul>
        <li><a href="">Gooserberries</a></li>
        <li><a href="">Grapes</a></li>
    </ul>

    <section id="h">H</section>
    <section id="i">I</section>
    <section id="j">J</section>
    <section id="k">K</section>
    <ul>
        <li><a href="">Kale</a></li>
    </ul>

    <section id="l">L</section>
    <ul>
        <li><a href="">Leafy Lettuce</a></li>
        <li><a href="">Leeks</a></li>
    </ul>

    <section id="m">M</section>
    <ul>
        <li><a href="">Mustard Greens</a></li>
    </ul>

    <section id="n">N</section>
    <section id="o">O</section>
    <ul>
        <li><a href="">Okra</a></li>
        <li><a href="">Onions (Dry)</a></li>
        <li><a href="">Onions (Green)</a></li>
    </ul>

    <section id="p">P</section>
    <ul>
        <li><a href="">Parsley (Herbs)</a></li>
        <li><a href="">Parsnips</a></li>
        <li><a href="">Peaches</a></li>
        <li><a href="">Peas (Green)</a></li>
        <li><a href="">Peppers (Bell)</a></li>
        <li><a href="">Peppers (Hot)</a></li>
        <li><a href="">Peppers (Sweet)</a></li>
        <li><a href="">Potatoes</a></li>
        <li><a href="">Pumpkins</a></li>
    </ul>

    <section id="q">Q</section>
    <section id="r">R</section>
    <ul>
        <li><a href="">Radishes</a></li>
        <li><a href="">Raspberries (Black)</a></li>
        <li><a href="">Rasperries (Red)</a></li>
        <li><a href="">Rhubarb</a></li>
    </ul>

    <section id="s">S</section>
    <ul>
        <li><a href="">Spinach</a></li>
        <li><a href="">Squash (Summer/Zucchini)</a></li>
        <li><a href="">Squash (Winter)</a></li>
        <li><a href="">Strawberries</a></li>
    </ul>

    <section id="t">T</section>
    <ul>
        <li><a href="">Tomatoes</a></li>
        <li><a href="">Turnip Greens</a></li>
        <li><a href="">Turnips</a></li>
    </ul>

    <section id="u">U</section>
    <section id="v">V</section>
    <section id="w">W</section>
    <ul>
        <li><a href="">Watermelon</a></li>
    </ul>
    <section id="x">X</section>
    <section id="y">Y</section>
    <section id="z">Z</section>

</div>