@model MVCForum.Website.ViewModels.AllBadgesViewModel
@{
    
    ViewBag.Title = Html.LanguageString("Plant Index");
}
<style>
    .letter, h1 {
        font-size: 48px;
        color: white;
        align-content:center;
        /*opacity:.85;*/
        filter:alpha(opacity=50)
    }

    #letter {
        color: red;
        font-size:24px;
        font-weight: bold;
        padding-right:10px;
        
        align-content:center;
        
        
    }

    #plant {
        color: white;
        /*opacity:0.4;*/
        font-size:24px;
    }

    body {
        background-image: url('../../Content/Images/GardeninHand.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height:100%;
        background-size:cover;
        font-family:tahoma;

    }

    ul {color:white;}
</style>
<div>
    @*@section side
        {
                @Html.Partial("_CommonSideNav")
            }*@
    <h1>Plant Index</h1>
    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
            <a id="letter" href="#a">A</a>
            <a id="letter" href="#b">B</a>
            <a id="letter" href="#c">C</a>
            <a id="letter" href="#d">D</a>
            <a id="letter" href="#e">E</a>
            <a id="letter" href="#f">F</a>
            <a id="letter" href="#g">G</a>
            <a id="letter" href="#h">H</a>
            <a id="letter" href="#i">I</a>
            <a id="letter" href="#j">J</a>
            <a id="letter" href="#k">K</a>
            <a id="letter" href="#l">L</a>
            <a id="letter" href="#m">M</a>        
            <a id="letter" href="#n">N</a>
            <a id="letter" href="#o">O</a>
            <a id="letter" href="#p">P</a>
            <a id="letter" href="#q">Q</a>
            <a id="letter" href="#r">R</a>
            <a id="letter" href="#s">S</a>
            <a id="letter" href="#t">T</a>
            <a id="letter" href="#u">U</a>
            <a id="letter" href="#v">V</a>
            <a id="letter" href="#w">W</a>
            <a id="letter" href="#x">X</a>
            <a id="letter" href="#y">Y</a>
            <a id="letter" href="#z">Z</a>
            </div>
    <br /><br /><br />
    @*<section id=""></section>
        <ul>
            <li><a href=""></a></li>
        </ul>*@
    <section class="letter" id="a">A</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Apple">Apple</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Asparagus">Asparagus</a></li>
    </ul>
    <section class="letter" id="b">B</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Phaseolus_lunatus">Beans(Lima)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Green_bean">Beans (Snap)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Beetroot">Beets</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Blackberry">Blackberries</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Blueberry">Blueberries</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Broccoli">Broccoli</a></li>
    </ul>
    <section class="letter" id="c">C</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Cabbage">Cabbage</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Cantaloupe">Cantaloupe</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Carrot">Carrots</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Cauliflower">Cauliflower</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Coriander">Cilantro</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Collard_greens">Collards</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Maize">Corn (Sweet)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Cucumber">Cucumbers</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Ribes">Currants</a></li>
    </ul>
    <section class="letter" id="d">D</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Dill">Dill (Dry)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Dill">Dill (Seed)</a></li>
    </ul>
    <section class="letter" id="e">E</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Eggplant">Eggplant</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Endive">Endive and Escarole</a></li>
    </ul>
    <section class="letter" id="f">F</section>
    <section class="letter" id="g">G</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Gooseberry">Gooseberries</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Grape">Grapes</a></li>
    </ul>
    <section class="letter" id="h">H</section>
    <section class="letter" id="i">I</section>
    <section class="letter" id="j">J</section>
    <section class="letter" id="k">K</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Kale">Kale</a></li>
    </ul>
    <section class="letter" id="l">L</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Lettuce">Leafy Lettuce</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Leek">Leeks</a></li>
    </ul>
    <section class="letter" id="m">M</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Brassica_juncea">Mustard Greens</a></li>
    </ul>
    <section class="letter" id="n">N</section>
    <section class="letter" id="o">O</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Okra">Okra</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Onion">Onions (Dry)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Onion">Onions (Green)</a></li>
    </ul>
    <section class="letter" id="p">P</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Parsley">Parsley (Herbs)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Parsnip">Parsnips</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Peach">Peaches</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Pea">Peas (Green)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Bell_pepper">Peppers (Bell)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Chili_pepper">Peppers (Hot)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Bell_pepper">Peppers (Sweet)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Potato">Potatoes</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Pumpkin">Pumpkins</a></li>
    </ul>
    <section class="letter" id="q">Q</section>
    <section class="letter" id="r">R</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Radish">Radishes</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Rubus">Raspberries (Black)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Rubus_idaeus">Rasperries (Red)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Rhubarb">Rhubarb</a></li>
    </ul>
    <section class="letter" id="s">S</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Spinach">Spinach</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Zucchini">Squash (Summer/Zucchini)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Winter_squash">Squash (Winter)</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Strawberry">Strawberries</a></li>
    </ul>
    <section class="letter" id="t">T</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Tomato">Tomatoes</a></li>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Turnip">Turnips</a></li>
    </ul>
    <section class="letter" id="u">U</section>
    <section class="letter" id="v">V</section>
    <section class="letter" id="w">W</section>
    <ul>
        <li><a id="plant" target="_blank" href="https://en.wikipedia.org/wiki/Watermelon">Watermelon</a></li>
    </ul>
    <section class="letter" id="x">X</section>
    <section class="letter" id="y">Y</section>
    <section class="letter" id="z">Z</section>
</div>