@model MVCForum.Website.ViewModels.AllBadgesViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.LanguageString("Plant Index");
}
<style>
    .letter, h1 {
        font-size: 48px;
        color: white;
        align-content:center;
        opacity:.85;
        filter:alpha(opacity=50)
    }

    #letter {
        color: red;
        font-size: 36px;
        font-weight: bold;
        text-decoration:dashed;
        align-content:center;
        opacity:0.4;
        
    }

    #plant {
        color: white;
        opacity:0.4;
        font-size:24px;
    }

    body {
        background-image: url('../../Content/Images/GardeninHand.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height:100%;
        background-size:cover;
        font-family:Impact;

    }
</style>
<div>
    @*@section side
        {
                @Html.Partial("_CommonSideNav")
            }*@
    <h1>Plant Index</h1>
    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
        <ul class="nav navbar-nav">
            <li><a id="letter" href="#a">A</a></li>
            <li><a id="letter" href="#b">B</a></li>
            <li><a id="letter" href="#c">C</a></li>
            <li><a id="letter" href="#d">D</a></li>
            <li><a id="letter" href="#e">E</a></li>
            <li><a id="letter" href="#f">F</a></li>
            <li><a id="letter" href="#g">G</a></li>
            <li><a id="letter" href="#h">H</a></li>
            <li><a id="letter" href="#i">I</a></li>
            <li><a id="letter" href="#j">J</a></li>
            <li><a id="letter" href="#k">K</a></li>
            <li><a id="letter" href="#l">L</a></li>
            <li><a id="letter" href="#m">M</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a id="letter" href="#n">N</a></li>
            <li><a id="letter" href="#o">O</a></li>
            <li><a id="letter" href="#p">P</a></li>
            <li><a id="letter" href="#q">Q</a></li>
            <li><a id="letter" href="#r">R</a></li>
            <li><a id="letter" href="#s">S</a></li>
            <li><a id="letter" href="#t">T</a></li>
            <li><a id="letter" href="#u">U</a></li>
            <li><a id="letter" href="#v">V</a></li>
            <li><a id="letter" href="#w">W</a></li>
            <li><a id="letter" href="#x">X</a></li>
            <li><a id="letter" href="#y">Y</a></li>
            <li><a id="letter" href="#z">Z</a></li>
        </ul>
    </div>
    <br /><br /><br />
    @*<section id=""></section>
        <ul>
            <li><a href=""></a></li>
        </ul>*@
    <section class="letter" id="a">A</section>
    <ul>
        <li><a id="plant" href="https://www.facebook.com/photo.php?fbid=10109237673924325&set=gm.1860521354216775&type=3&theater">Apple</a></li>
        <li><a id="plant" href="">Asparagus</a></li>
    </ul>
    <section class="letter" id="b">B</section>
    <ul>
        <li><a id="plant" href="">Beans(Lima)</a></li>
        <li><a id="plant" href="">Beans (Snap)</a></li>
        <li><a id="plant" href="">Beets</a></li>
        <li><a id="plant" href="">Blackberries</a></li>
        <li><a id="plant" href="">Blueberries</a></li>
        <li><a id="plant" href="">Broccoli</a></li>
    </ul>
    <section class="letter" id="c">C</section>
    <ul>
        <li><a id="plant" href="">Cabbage</a></li>
        <li><a id="plant" href="">Cantaloupe</a></li>
        <li><a id="plant" href="">Carrots</a></li>
        <li><a id="plant" href="">Cauliflower</a></li>
        <li><a id="plant" href="">Cilantro</a></li>
        <li><a id="plant" href="">Collards</a></li>
        <li><a id="plant" href="">Corn (Sweet)</a></li>
        <li><a id="plant" href="">Cucumbers</a></li>
        <li><a id="plant" href="">Currants</a></li>
    </ul>
    <section class="letter" id="d">D</section>
    <ul>
        <li><a id="plant" href="">Dill (Dry)</a></li>
        <li><a id="plant" href="">Dill (Seed)</a></li>
    </ul>
    <section class="letter" id="e">E</section>
    <ul>
        <li><a id="plant" href="">Eggplant</a></li>
        <li><a id="plant" href="">Endive and Escarole</a></li>
    </ul>
    <section class="letter" id="f">F</section>
    <section class="letter" id="g">G</section>
    <ul>
        <li><a id="plant" href="">Gooserberries</a></li>
        <li><a id="plant" href="">Grapes</a></li>
    </ul>
    <section class="letter" id="h">H</section>
    <section class="letter" id="i">I</section>
    <section class="letter" id="j">J</section>
    <section class="letter" id="k">K</section>
    <ul>
        <li><a id="plant" href="">Kale</a></li>
    </ul>
    <section class="letter" id="l">L</section>
    <ul>
        <li><a id="plant" href="">Leafy Lettuce</a></li>
        <li><a id="plant" href="">Leeks</a></li>
    </ul>
    <section class="letter" id="m">M</section>
    <ul>
        <li><a id="plant" href="">Mustard Greens</a></li>
    </ul>
    <section class="letter" id="n">N</section>
    <section class="letter" id="o">O</section>
    <ul>
        <li><a id="plant" href="">Okra</a></li>
        <li><a id="plant" href="">Onions (Dry)</a></li>
        <li><a id="plant" href="">Onions (Green)</a></li>
    </ul>
    <section class="letter" id="p">P</section>
    <ul>
        <li><a id="plant" href="">Parsley (Herbs)</a></li>
        <li><a id="plant" href="">Parsnips</a></li>
        <li><a id="plant" href="">Peaches</a></li>
        <li><a id="plant" href="">Peas (Green)</a></li>
        <li><a id="plant" href="">Peppers (Bell)</a></li>
        <li><a id="plant" href="">Peppers (Hot)</a></li>
        <li><a id="plant" href="">Peppers (Sweet)</a></li>
        <li><a id="plant" href="">Potatoes</a></li>
        <li><a id="plant" href="">Pumpkins</a></li>
    </ul>
    <section class="letter" id="q">Q</section>
    <section class="letter" id="r">R</section>
    <ul>
        <li><a id="plant" href="">Radishes</a></li>
        <li><a id="plant" href="">Raspberries (Black)</a></li>
        <li><a id="plant" href="">Rasperries (Red)</a></li>
        <li><a id="plant" href="">Rhubarb</a></li>
    </ul>
    <section class="letter" id="s">S</section>
    <ul>
        <li><a id="plant" href="">Spinach</a></li>
        <li><a id="plant" href="">Squash (Summer/Zucchini)</a></li>
        <li><a id="plant" href="">Squash (Winter)</a></li>
        <li><a id="plant" href="">Strawberries</a></li>
    </ul>
    <section class="letter" id="t">T</section>
    <ul>
        <li><a id="plant" href="">Tomatoes</a></li>
        <li><a id="plant" href="">Turnip Greens</a></li>
        <li><a id="plant" href="">Turnips</a></li>
    </ul>
    <section class="letter" id="u">U</section>
    <section class="letter" id="v">V</section>
    <section class="letter" id="w">W</section>
    <ul>
        <li><a id="plant" href="">Watermelon</a></li>
    </ul>
    <section class="letter" id="x">X</section>
    <section class="letter" id="y">Y</section>
    <section class="letter" id="z">Z</section>
</div>